@charset "UTF-8";

html {
    font-size: calc(10 * 100vw / 390); 
    scroll-behavior: smooth;
}

@media (min-width:768px) {
    html {
          font-size: calc(10 * 100vw / 1200); 
}
}

@media (min-width: 1200px) {
html {
        font-size: 62.5%;
}
}

/* ベースのスタイル
------------------------------------------ */

body {
    font-family: "Noto Serif JP", sans-serif;
    color: #000;
    line-height: 1.75;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}
a:hover {
    opacity: .6;
}

/* フォント */
.font_m{
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

.font_e{
    font-family: "EB Garamond", serif;
    font-style: normal;
}


/* メインヴィジュアル*/
.main{
    background-image: url(/assets/image/main_visual_sp.jpg);
    background-size: cover;
    height: 45rem;
    padding-top: 2.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 15.7rem;
}

@media screen and (min-width: 768px) {
    .main{
        background-image: url(/assets/image/main_visual_pc.jpg);
        background-size: cover;
        background-position: center;
        padding: 3.2rem 2rem 27.1rem 2rem;
        margin-bottom: 0;
        height: 72rem;
    }
    
}


.main__block{
    margin-inline: auto;
    width: 34.3rem;
}
@media screen and (min-width: 768px) {
    .main__block{
        margin-inline: auto;
        width: 105.4rem;
    }
    
}


.main__logo{
    font-size: 2.4rem;
    line-height: 1.33;
    text-align: center;
    letter-spacing: .48rem;
    margin-bottom: 36.1rem;
}
@media screen and (min-width: 768px) {
    .main__logo{
        font-size: 2.8rem;
        line-height: 1.25;
        text-align: center;
        letter-spacing: .56rem; 
        margin-bottom: 20.5rem; 
    }
    
}

.main__block-tit{
    display: block;
    font-size: 4.1rem;
    line-height: 1.27;
    letter-spacing: 1.22rem;
    margin-bottom: .6rem;
}
@media screen and (min-width: 768px) {
    .main__block-tit{
        font-size: 5rem;
        line-height: 1.32;
        letter-spacing: 1.5rem;
        margin-bottom: 1.1rem;
    }
    
}

.main__block-txt{
    display: block;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: .6rem;
}

@media screen and (min-width: 768px) {
    .main__block-txt{
        font-size: 2.5rem;
        line-height: 1.3;
        letter-spacing: .75rem;
    }
    
}

/* オンラインショップへ */
.shop{
    padding: 0 1.6rem 5rem 1.6rem;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .shop{
        padding: 4.8rem 0;
        margin-inline: auto;
        max-width: 100rem;
    }
    
}


.shop__block{
    background-color: #F0F4FF;
    padding: 2.2rem 2.9rem 3.4rem 2.9rem;
}
@media screen and (min-width: 768px) {
    .shop__block{
        padding: 4.3rem 4.8rem 4rem;
        display: flex;
        justify-content: space-between;
    }
    
}

.shop__block-txt1{
    padding-left: 7.2rem;
    margin-bottom: .6rem;
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: .18rem;
}
@media screen and (min-width: 768px) {
    .shop__block div:nth-of-type(1){
        padding-right: 0rem;
    }
    .shop__block-txt1{
        padding-left: 0;
        padding-right: 3rem;
        margin-bottom: 1rem;
        font-size: 2.4rem;
        line-height: 1.2;
        letter-spacing: .24rem;
    }
    
}

.shop__block-txt2{
    padding-left: 10.4rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 1.36;
    letter-spacing: .14rem;
}
@media screen and (min-width: 768px) {
    .shop__block-txt2{
        padding-left: 0;
        margin-bottom: 0;
        font-size: 1.6rem;
        line-height: 1.6;
        letter-spacing: .16rem;
    }
    
}

.shop__block-btn1{
    display: block;
    background-color: #46C4DB;
    border-radius: 3.4rem;
    padding-top: 1.8rem;
    padding-left: 6.1rem;
    padding-bottom: 1.6rem;
    font-size: 1.8rem;
    line-height: 1.33; 
    letter-spacing: 0;
    color: #FFF;   
    margin-bottom: 2rem;
    font-weight: 600;
}
@media screen and (min-width: 768px) {
    .shop__block-btn1{
        margin-bottom: 0;
        width: 30rem;
        height: 5.8rem;
    }
    
}
.shop__block-btn2{
    display: block;
    background-color: #5DD5AB;
    border-radius: 3.4rem;
    padding-top: 1.8rem;
    padding-left: 11.4rem;
    padding-bottom: 1.6rem;
    font-size: 1.8rem;
    line-height: 1.33; 
    letter-spacing: 0;
    font-weight: 600;
    color: #FFF; 
}
@media screen and (min-width: 768px) {
    .shop__block-btn2{
        width: 30rem;
        height: 5.8rem;
    }
    
}

/* Keep Your Skin Beautiful */

.explain{
    padding: 4.8rem 1.6rem 0rem;
    background-image: url(/assets/image/explain_visual_sp.jpg);
    background-size: cover;
    background-position: left top;
    height: 68rem;
}
@media screen and (min-width: 768px) {
    .explain{
        padding: 12.7rem 2rem;
        background-image: url(/assets/image/explain_visual_pc.jpg);
        background-size: cover;
        background-position: left top;
        height: 55rem;
    }
    
}

@media screen and (min-width: 768px) {
    .explain__block{
        margin-inline: auto;
        width: 101.6rem;
        display: flex;
        justify-content: flex-end;
    }
    
}

.explain__block-tit-en{
    display: block;
    font-size: 3.0rem;
    line-height: 1.3;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    color: #FFF;
    margin-bottom: .8rem;
}
@media screen and (min-width: 768px) {
    .explain__block-tit-en{
        font-size: 3.8rem;
        text-align: left;
        line-height: 1.2;
        
    }
    
}    

.explain__block-tit-jp{
    display: block;
    font-weight: 600;
    color: #FFF;
    font-size: 2.4rem;
    line-height: 1.6;
    letter-spacing: 0;
    margin-bottom: 1rem;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .explain__block-tit-jp{
        text-align: left;
        margin-bottom: 1.2rem;
        line-height: 1.7;
    }
    
}

.explain__block-txt{
    font-size: 1.4rem;
    line-height: 2.29;
    letter-spacing: 0;
    color: #FFF;
}
@media screen and (min-width: 768px) {
    .explain__block-txt{
        text-align: left;
        width: 42.9rem;
    }
    
}


/* Voices */
.voices{
    padding: 5.3rem 5.5rem 4rem;
    width: 100%;
    margin-inline: auto;
}
@media screen and (min-width: 768px) {
    .voices{
        padding: 9.2rem 17.2rem 7rem;
        width: 100%;
        margin-inline: auto;
    }
    
}

.voices-tit-en{
    display: block;
    font-size: 3.0rem;
    line-height: 1.07;
    letter-spacing: .15rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: .5rem;
}
@media screen and (min-width: 768px) {
    .voices-tit-en{
        font-size: 4.5rem;
        line-height: 0.71;
        letter-spacing: .225rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2rem;
    }   
}
.voices-tit-jp{
    display: block;
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: .08rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3.2rem;
}
@media screen and (min-width: 768px) {
    .voices-tit-jp{
        font-size: 2rem;
        line-height: 1.6;
        letter-spacing: .1rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 4.1rem;
    }   

}

.voices__slider{
    margin-inline: auto;
    max-width: 28rem;
}


@media screen and (min-width:768px){
    .voices__slider{
        display: flex;
        margin-inline: auto;
        max-width: 102rem;
    }
}

@media screen and (min-width:768px) {
    .voices__slider__item{
        padding: 0 2rem;
    }
    
}
.voices__slider__item__inner{
    background-color: #DBF7F9 ;
    padding: 2.8rem 0 2.5rem 0;
    margin-bottom: 0.6rem;

}
@media screen and (min-width:768px) {
    .voices__slider__item__inner{
        padding: 3.8rem 1.6rem 3.5rem 1.6rem;
        margin-bottom: 1.6rem;
    }    
}

.voices__slider__item__inner div{
    padding-left: 1rem;
}
@media screen and (min-width:768px){
    .voices__slider__item__inner div{
        padding-left: 0;
    }
    
}
.voices__slider__item div img{
    width: 8rem;
    height: 8rem;
    margin-inline: auto;
}
@media screen and (min-width:768px) {
    .voices__slider__item div img{
        width: 10rem;
        height: 10rem;
        margin-inline: auto;
    }
    
}
.voices__slider__item p:nth-of-type(1){
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 2.29;
    letter-spacing: .07rem;
}
@media screen and (min-width:768px) {
    .voices__slider__item p:nth-of-type(1){
        font-size: 1.5rem;
        line-height: 2.13;
        letter-spacing: .075rem;
        margin-bottom: 1rem;
    }
    
}
.voices__slider__item p:nth-of-type(2){
    font-size: 1.4rem;
    line-height: 2;
    letter-spacing: 0;
    max-width: 25rem;
    margin-inline: auto;
}
@media screen and (min-width:768px) {
    .voices__slider__item p:nth-of-type(2){
        font-size: 1.6rem;
        max-width: 26.8rem;
        /* width: 26.8rem; */
        line-height: 1.75;
    }
    
}



.slick-arrow{
    width: 3.2rem;
    position: absolute;
    top: 50%;

}
.slick-arrow:hover{
    cursor: pointer;
}
@media screen and (min-width:768px){
    .slick-arrow{
        width: 4.8rem;
        position: absolute;
    }
}
.prev-arrow{
    height: 3.2rem;
    width: 3.2rem;
    position: absolute;
    left: -14%;
    top: 44%;
}
@media screen and (min-width: 768px){
    .prev-arrow{
        height: 4.8rem;
        width: 4.8rem;
        position: absolute;
        left: -6.5%;
        top: 42%;
    }
    
}
.next-arrow{
    height: 3.2rem;
    width: 3.2rem;
    position: absolute;
    right: -14%;
    top: 44%;
}
@media screen and (min-width: 768px){
    .next-arrow{
        height: 4.8rem;
        width: 4.8rem;
        position: absolute;
        right: -6.5%;
        top: 42%;  
    }
    
}

.slick-dots{
    margin-top: 0rem;
}
.slick-dots li{
    margin: 0;
    width: 1.7rem;
}
.slick-dots li button::before{
    color: #EEE;
    font-size: 2.5rem;
}
.slick-dots li.slick-active button::before {
    color: #00AFBF ;
}


/* Q&A */
.question{
    padding: 3.3rem 1.6rem;
    width: 100%;
    background: transparent linear-gradient(90deg, #F4FFE8 0%, #C6F0FE 100%) 0% 0% no-repeat padding-box;
}
@media screen and (min-width: 768px){
    .question{
        padding: 5.3rem 2rem 4rem;
        margin-bottom: 0;
    }
    .question__block{
        max-width: 60rem;
        margin-inline: auto;
    }
        
}
.question-tit-en{
    display: block;
    font-size: 3.0rem;
    line-height: 1.07;
    letter-spacing: .15rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: .5rem;
}
@media screen and (min-width: 768px){
    .question-tit-en{
        font-size: 4.5rem;
        line-height: 0.71;
        letter-spacing: .225rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1.9rem;
    }   
}


.question-tit-jp{
    display: block;
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: .08rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
}
@media screen and (min-width: 768px){
    .question-tit-jp{
        font-size: 2rem;
        line-height: 1.6;
        letter-spacing: .1rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 4.1rem;
    }   
}


.question__accordion__content{
    display: none;
}

.question__accordion__header{
    background-color: #FFF;
    padding: 1.4rem 1.66rem 1.25rem 1.6rem;
    cursor: pointer;
    position: relative;
    margin-top: 2rem;
}


@media screen and (min-width: 768px){
    .question__accordion__header{
        margin-top: 2.4rem;
        padding: 1.7rem 2.4rem 2.2rem;
    }   
}


.question__accordion__content {
    background-color: #FFF;
    padding: .1rem 1.7rem 2.9rem 1.6rem;
}

@media screen and (min-width: 768px) {
    .question__accordion__content{
        padding: 0.2rem 2.4rem 1.8rem;

    }
}

.question__accordion__header p{
    font-size: 1.5rem;
    line-height: 2.1;
    position: relative;
    padding-left: 2.8rem;
    padding-right: 2.64rem;
    letter-spacing: 0;
}

@media screen and (min-width:768px){
    .question__accordion__header p{
        padding-left: 3.3rem;
        padding-right: 3.2rem;
    }
    
}
.question__accordion__content p{
    font-size: 1.5rem;
    line-height: 1.87;
    letter-spacing: 0;
    font-weight: 600;
    position: relative;
    padding-left: 2.8rem;
    margin-top: -0.5rem;
}
@media screen and (min-width:768px){
    .question__accordion__content p{
        padding-left: 3.3rem;
        padding-right: 1rem;
    }
    
}

.question__accordion__header p::before{
    position: absolute;
    content:"Q.";
    top: 0;
    left: 0;
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: .08rem;
    font-family: "EB Garamond", serif;
}
@media screen and (min-width: 768px){
    .question__accordion__header p::before{
        font-size: 1.8rem;
        letter-spacing: .09rem;
    }   
}


.question__accordion__content p::before{
    position: absolute;
    content:"A.";
    top: 0;
    left: 0;
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: .08rem;
    font-family: "EB Garamond", serif;
}
@media screen and (min-width: 768px){
    .question__accordion__content p::before{
        font-size: 1.8rem;
        letter-spacing: .09rem;
        top: -0.5rem;
    }   
}


.question__accordion__header p::after{
    position: absolute;
    content:"";
    background-image: url(/assets/image/caret_down_fill.png);
    top: 1.8rem;
    right: 0;
    width: 1.16rem;
    height: .748rem;
}
@media screen and (min-width: 768px){
    .question__accordion__header p::after{
        width: 1.2rem;
        height: .8rem;
    }   
}


.question__accordion__header.active p::after{
    background-image: url(/assets/image/caret_up_fill.png);
}
.question__accordion__header:hover {
    background-color: #F2F2F2;
}


.shop__lower{
    padding-top: 4.8rem;
    padding-bottom: 1rem;
}

/* footer */

.to-top{
    position: sticky;
    width: 100%;
    padding: 0 1.6rem 0 33.4rem;
    top: calc(100% - 20.4rem);
    z-index: 100;
}
@media screen and (min-width: 768px){
    .to-top{
        width: 100%;
        padding: 0;
        text-align: right;
        top: calc(100% - 14.4rem);
        z-index: 100;
    }
}

.to-top a{
    display: block;
    background-color: #0071CE;
    height: 4rem;
    width: 4rem;
    padding: 1.2rem 1.3rem;
    margin: 0 0 0 auto;
}
.to-top a img{
    height: 1.6rem;
    width: 1.4rem;
}
.footer-box{
    background-color: #0071CE;
    padding: 2.1rem 5.3rem 2.4rem 4.5rem;
}
@media screen and (min-width: 768px){
    .footer__pc{
        background-color: #0071CE;
        padding: 0 2rem;
    }
    .footer-box{
        display: flex;
        justify-content: space-between;
        gap: 15rem;
        padding: 2.8rem 0 3.3rem;
        max-width: 114.8rem;
        margin-inline: auto;
    } 
}
.footer-box__logo{
    font-size: 2.8rem;
    line-height: 1.32;
    letter-spacing: .56rem;
    color: #FFF;
    text-align: center;
    margin-bottom: 2.6rem;
}
@media screen and (min-width: 768px){
    .footer-box__logo{
        font-size: 3.2rem;
        line-height: 1.34;
        letter-spacing: .64rem;
        color: #FFF;
        margin-bottom: 0;
    }
}

.footer-box ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.6rem;
}
@media screen and (min-width: 768px){
    .footer-box ul{
        margin-bottom: 0;
        align-items: center;
        gap: 4rem;
    }
}
.footer-box ul li a{
    font-size: 1.2rem;
    line-height: 1.33;
    letter-spacing: 0;
    color: #FFF;
}
@media screen and (min-width: 768px){
    .footer-box ul li a{
        font-size: 1.4rem;
        line-height: 1.36;
    }
}
.footer-box-txt{
    font-size: 1.1rem;
    line-height: 1.36;
    letter-spacing: 0;
    color: #FFF;
    text-align: center;
}
@media screen and (min-width: 768px){
    .footer-box-txt{
        font-size: 1.2rem;
        line-height: 1.33;
        display: flex;
        align-items: center;
    }
}

