@charset "UTF-8";

html {
    font-size: calc(10 * 100vw / 390); /* 390はSPデザインカンプの幅 */   
    /* 変換サイト・ツールなどで、 390pxの幅での10pxを変換して2.56vwなのでそれを当ててもよい */
    /* font-size: 2.564102vw; */
}

@media (min-width:768px) {
    html {
          font-size: calc(10 * 100vw / 1200); /* 1200はPCカンプのコンテンツ幅 */
}
}

@media (min-width: 1200px) {
html {
        font-size: 62.5%;
}
}

/* ベースのスタイル
------------------------------------------ */

body {
    font-family: "Noto Serif JP", sans-serif;
    color: #000000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}
a:hover {
    opacity: 0.6;
}

/* フォント */
.font_m{
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

.font_e{
    font-family: "EB Garamond", serif;
    font-style: normal;
}

.section{
    padding: 0 2rem;
}
/* メインヴィジュアル*/
.main{
    background-image: url(/assets/image/mainVisual_sp.jpg);
    /* height: 60.7rem; */
}

@media screen and (min-width: 768px) {
    .main{
        background-image: url(/assets/image/mainVisual_pc.jpg);
        height: 72rem;
        width: 100%;
        margin-inline: auto;
        max-width: 150rem;

    }
    
}


.main__block{
    padding: 2.1rem 2.3rem 5.2rem 2.3rem;
}
@media screen and (min-width: 768px) {
    .main__block{
        padding: 2.9rem 22.3rem 27.4rem;
    }
    
}


.main__logo{
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-align: center;
    letter-spacing: 0.48rem;
    margin-bottom: 36.1rem;
}
@media screen and (min-width: 768px) {
    .main__logo{
        font-size: 2.8rem;
        line-height: 3.7rem;
        text-align: center;
        letter-spacing: 0.56rem;
        margin-bottom: 20.1rem;
    }
    
}

.main__block h1{
    font-size: 4.1rem;
    line-height: 5.4rem;
    letter-spacing: 1.23rem;
    margin-bottom: 0.6rem;
}
@media screen and (min-width: 768px) {
    .main__block h1{
        font-size: 5rem;
        line-height: 6.8rem;
        letter-spacing: 1.5rem;
        margin-bottom: 1.1rem;
    }
    
}

.main__block-txt{
    font-size: 2.0rem;
    line-height: 2.7rem;
    letter-spacing: 0.6rem;
}

@media screen and (min-width: 768px) {
    .main__block-txt{
        font-size: 2.5rem;
        line-height: 3.3rem;
        letter-spacing: 0.75rem;
    }
    
}

/* オンラインショップへ */
.shop{
    padding: 0 1.6rem 5rem 1.6rem;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .shop{
        padding: 4.8rem 0;
        margin-inline: auto;
        max-width: 100rem;
    }
    
}

.shop2{
    padding: 0 1.6rem 1rem 1.6rem;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .shop2{
        padding: 4.8rem 0 0.8rem 0;
        margin-inline: auto;
        max-width: 100rem;
    }
    
}
.shop__block{
    background-color: #F0F4FF;
    padding: 2.2rem 2.9rem 3.4rem 2.9rem;
}
@media screen and (min-width: 768px) {
    .shop__block{
        padding: 4.4rem 4.8rem;
        display: flex;
        justify-content: space-between;
        gap: 3.2rem;
    }
    
}

.shop__block-txt1{
    padding-left: 7.2rem;
    margin-bottom: 0.6rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.18rem;
}
@media screen and (min-width: 768px) {
    .shop__block div:nth-of-type(1){
        /* padding-right: 8.5rem; */
        padding-right: 0rem;
    }
    .shop__block-txt1{
        padding-left: 0;
        margin-bottom: 1rem;
        font-size: 2.4rem;
        line-height: 3.2rem;
        letter-spacing: 0.24rem;
    }
    
}

.shop__block-txt2{
    padding-left: 10.4rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 1.9rem;
    letter-spacing: 0.14rem;
}
@media screen and (min-width: 768px) {
    .shop__block-txt2{
        padding-left: 0;
        margin-bottom: 0;
        font-size: 1.6rem;
        line-height: 2.1rem;
        letter-spacing: 0.16rem;
    }
    
}

.shop__block-btn1{
    display: block;
    background-color: #46C4DB;
    border-radius: 3.4rem;
    padding-top: 1.8rem;
    padding-left: 6.1rem;
    padding-bottom: 1.6rem;
    font-size: 1.8rem;
    line-height: 2.4rem; 
    letter-spacing: 0;
    color: #FFFFFF;   
    margin-bottom: 2rem;
    font-weight: 600;
}
@media screen and (min-width: 768px) {
    .shop__block-btn1{
        margin-bottom: 0;
        width: 30rem;
        height: 5.8rem;
    }
    
}
.shop__block-btn2{
    display: block;
    background-color: #5DD5AB;
    border-radius: 3.4rem;
    padding-top: 1.8rem;
    padding-left: 11.4rem;
    padding-bottom: 1.6rem;
    font-size: 1.8rem;
    line-height: 2.4rem; 
    letter-spacing: 0;
    font-weight: 600;
    color: #FFFFFF; 
}
@media screen and (min-width: 768px) {
    .shop__block-btn2{
        width: 30rem;
        height: 5.8rem;
    }
    
}

/* Keep Your Skin Beautiful */

.explain{
    padding: 4.8rem 1.6rem 35.1rem;
    background-image: url(/assets/image/explainVisual_sp.jpg);
    width: 100%;
    background-size: cover;
}
@media screen and (min-width: 768px) {
    .explain{
        padding: 12.7rem 20.4rem 16rem 82.9rem;
        background-image: url(/assets/image/explainVisual_pc.jpg);
        background-size: cover;
        margin-inline: auto;
        max-width: 150rem;
        height: 55rem;
    }
    
}

.explain__block-tit-en{
    font-size: 3.0rem;
    line-height: 5.4rem;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0.8rem;
}
@media screen and (min-width: 768px) {
    .explain__block-tit-en{
        font-size: 3.8rem;
        text-align: left;
    }
    
}    

.explain__block-tit-jp{
    font-weight: 600;
    color: #FFFFFF;
    font-size: 2.4rem;
    line-height: 5.4rem;
    letter-spacing: 0;
    margin-bottom: 2.3rem;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .explain__block-tit-jp{
        text-align: left;
        margin-bottom: 2.7rem;
    }
    
}

.explain__block-txt{
    font-size: 1.4rem;
    line-height: 3.2rem;
    letter-spacing: 0;
    color: #FFFFFF;
}
@media screen and (min-width: 768px) {
    .explain__block-txt{
        text-align: left;
    }
    
}


/* Voices */
.voices{
    padding: 5rem 1.6rem;
    width: 100%;
    margin-inline: auto;
}
@media screen and (min-width: 768px) {
    .voices{
        padding: 8rem 17.2rem;
        width: 100%;
        margin-inline: auto;
    }
    
}

.voices-tit-en{
    font-size: 3.0rem;
    line-height: 3.2rem;
    letter-spacing: 0.15rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
    .voices-tit-en{
        font-size: 4.5rem;
        line-height: 3.2rem;
        letter-spacing: 0.225rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0.9rem;
    }   
}
.voices-tit-jp{
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 0.08rem;
    font-weight: 600;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .voices-tit-jp{
        font-size: 2rem;
        line-height: 3.2rem;
        letter-spacing: 0.1rem;
        font-weight: 600;
        text-align: center;
    }   

}
.voices__block{
    padding: 0;
}
.voices__slider{

display: flex;
justify-content: space-between;
gap: 0.7rem;
width: 28rem;
height: 34.4rem;
margin: 0;

    /* padding: 0 5rem; */
}

.voices__slider__item{
    background-image: url(/assets/image/slider.jpg);
    padding: 2.8rem 1.5rem 8.5rem 1.5rem;

}
.voices__slider__item div{
    padding: 0 7rem;
    margin-bottom: 0.9rem;
}
.voices__slider__item div img{
    width: 8rem;
    height: 8rem;
}
.voices__slider__item p:nth-of-type(1){
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 3.2rem;
    letter-spacing: 0.07rem;
}
.voices__slider__item p:nth-of-type(2){
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 0;
}
.slick-list{
    width: 80%;
}

.prev-arrow{
    height: 3.2rem;
    width: 3.2rem;
    margin-top: 15rem;
    /* left: -4rem; */
}
.next-arrow{
    height: 3.2rem;
    width: 3.2rem;
    margin-top: 15rem;
    /* right: -4rem; */
}
/* .slick-prev::before{
    content: "";
    background-image: url(/assets/image/arrow-left-circle-fill.jpg);
}
.slick-next::before{
    content: "";
    background-image: url(/assets/image/arrow-right-circle-fill.jpg);
} */

/* Q&A */
.question{
    padding: 3.2rem 1.6rem;
    width: 100%;
    background: transparent linear-gradient(90deg, #F4FFE8 0%, #C6F0FE 100%) 0% 0% no-repeat padding-box;
    margin-bottom: 5rem;
}
@media screen and (min-width: 768px){
    .question{
        padding: 4rem 2rem;
        margin-bottom: 0;
    }
    .question__block{
        max-width: 60rem;
        margin-inline: auto;
    }
        
}
.question-tit-en{
    font-size: 3.0rem;
    line-height: 3.2rem;
    letter-spacing: 0.15rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px){
    .question-tit-en{
        font-size: 4.5rem;
        line-height: 3.2rem;
        letter-spacing: 0.225rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0.9rem;
    }   
}


.question-tit-jp{
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 0.08rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3.8rem;
}
@media screen and (min-width: 768px){
    .question-tit-jp{
        font-size: 2rem;
        line-height: 3.2rem;
        letter-spacing: 0.1rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 4.1rem;
    }   
}


.question__accordion__content{
    display: none;
}

.question__accordion__header{
    background-color: #FFF;
    padding: 2rem 1.66rem 1.9rem 1.6rem;
    cursor: pointer;
    position: relative;
    margin-bottom: 2rem;
}
@media screen and (min-width: 768px){
    .question__accordion__header{
        margin-bottom: 2.4rem;
    }   
}

.question__accordion__header.active{
    margin-bottom: 0;
}


.question__accordion__content {
    background-color: #FFF;
    padding: 0.1rem 1.7rem 6.2rem 1.6rem;
    margin-bottom: 2rem;
}
@media screen and (min-width: 768px){
    .question__accordion__content{
        margin-bottom: 2.4rem;
    }   
}
.question__accordion__header p{
    font-size: 1.5rem;
    line-height: 2.8rem;
    position: relative;
    padding-left: 2.8rem;
    padding-right: 2.64rem;
    letter-spacing: 0;
}

.question__accordion__content p{
    font-size: 1.5rem;
    line-height: 2.8rem;
    letter-spacing: 0;
    font-weight: 600;
    position: relative;
    padding-left: 2.8rem;
}

.question__accordion__header p::before{
    position: absolute;
    content:"Q.";
    top: 0;
    left: 0;
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 0.08rem;
    font-family: "EB Garamond", serif;
}
@media screen and (min-width: 768px){
    .question__accordion__header p::before{
        font-size: 1.8rem;
        letter-spacing: 0.09rem;
    }   
}


.question__accordion__content p::before{
    position: absolute;
    content:"A.";
    top: 0;
    left: 0;
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 0.08rem;
    font-family: "EB Garamond", serif;
}
@media screen and (min-width: 768px){
    .question__accordion__content p::before{
        font-size: 1.8rem;
        letter-spacing: 0.09rem;
    }   
}


.question__accordion__header p::after{
    position: absolute;
    content:"";
    background-image: url(/assets/image/caret-down-fill.png);
    top: 1rem;
    right: 0;
    width: 1.16rem;
    height: 0.748rem;
}
@media screen and (min-width: 768px){
    .question__accordion__header p::after{
        width: 1.2rem;
        height: 0.8rem;
    }   
}


.question__accordion__header.active p::after{
    background-image: url(/assets/image/caret-up-fill.png);
}
    /* hover */
.question__accordion__header:hover {
    background-color: #F2F2F2;
}

/* footer */

.to-top{
    width: 100%;
    padding: 0 1.6rem 0 33.4rem;
}
@media screen and (min-width: 768px){
    .to-top{
        width: 100%;
        padding: 0;
        text-align: right;
    }
}

.to-top a{
    display: block;
    background-color: #0071CE;
    height: 4rem;
    width: 4rem;
    padding: 1.2rem 1.3rem;
    margin: 0 0 0 auto;
}
.to-top a img{
    height: 1.6rem;
    width: 1.4rem;
}
.footer-box{
    background-color: #0071CE;
    padding: 2.1rem 5.3rem 2.4rem 4.5rem;
}
@media screen and (min-width: 768px){
    .footer__pc{
        background-color: #0071CE;
        padding: 0 2rem;
    }
    .footer-box{
        display: flex;
        justify-content: space-between;
        gap: 15rem;
        padding: 2.8rem 0 3.3rem;
        max-width: 114.8rem;
        margin-inline: auto;
    } 
}
.footer-box__logo{
    font-size: 2.8rem;
    line-height: 3.7rem;
    letter-spacing: 0.56rem;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2.6rem;
}
@media screen and (min-width: 768px){
    .footer-box__logo{
        font-size: 3.2rem;
        line-height: 4.3rem;
        letter-spacing: 0.64rem;
        color: #FFFFFF;
        margin-bottom: 0;
        /* text-align: center; */
    }
}

.footer-box ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.6rem;
}
@media screen and (min-width: 768px){
    .footer-box ul{
        margin-bottom: 0;
        align-items: center;
        gap: 4rem;
    }
}
.footer-box ul li a{
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0;
    color: #FFFFFF;
}
@media screen and (min-width: 768px){
    .footer-box ul li a{
        font-size: 1.4rem;
        line-height: 1.9rem;
    }
}
.footer-box-txt{
    font-size: 1.1rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: #FFFFFF;
    text-align: center;
}
@media screen and (min-width: 768px){
    .footer-box-txt{
        font-size: 1.2rem;
        line-height: 1.6rem;
        display: flex;
        align-items: center;
    }
}

